.bg-roxo{
    background-color: #7E459B;
}

a:hover{
  font-weight: bold;
}

.img-carousel{
  object-fit: cover;
  object-position: 0 40%;
  height: 75vh;
}

.icons_media {
    color: #7E459B;
}

button{
    width: 100px;
}

button:hover{
    opacity: .9;
}

.reprograma{
    color: #d282f7;
}